# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# GoReleaser build output
/dist/

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Zed
# https://zed.dev/docs/configuring-zed#settings-files
#
# Zed stores project settings in a .zed/ directory, similar to .vscode/.
# By default, ignore the directory but allow commonly shared config files.

.zed/*
!.zed/settings.json
!.zed/tasks.json
!.zed/debug.json
